<div class="login-container">
  <img class="img-nextG" src="./assets/logo.png" />
  <div class="content">
    <div class="heading-5 color-default">{{isLogin ? 'Sign In' : 'Create New Account'}}</div>
    <div class="body-7 color-gray-300">Please enter your credentials to access your account.</div>
  </div>
  <div *ngIf="isLogin" class="w-100">
    <app-form-sign-in></app-form-sign-in>
  </div>
  <div *ngIf="!isLogin" class="w-100">
    <app-form-new-password></app-form-new-password>
  </div>
</div>